<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <h1>ScheduleKing</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/authorize">Get Started</a></li>
          </ul>
        </nav>
      </header>
    <main>
        <section class="hero">
            <div class="loading-container">
                <h2>Looks like the time your team agreed on doesn't work for you.</h2>

                <p> if enough people agree with you, we'll try to find another time. Otherwise, you might have to change your schedule.</p>
            </div>
        </section>
    </main>
</body>

</html>
