<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scheduling Website</title>
    <link rel="stylesheet" href="/../static/style.css" />
  </head>

  <body>
    <header>
      <h1>ScheduleKing</h1>
    </header>

    <main>
      <section class="hero">
        <h2>Welcome to Schedule&#128081;</h2>
        <p>Your solution for easy and stress-free scheduling.</p>

        <div class="button-group">
          <input
            type="button"
            onclick="location.href='/authorize/host';"
            value="Host Login"
            class="cta-button"
          />
          <input
            type="button"
            onclick="location.href='/authorize/invitee';"
            value="Invitee Login"
            class="cta-button"
          />
        </div>

        <p id="meetingtime" style="display: none"></p>
      </section>
      <section class="features">
        <h2>Use ScheduleKing For:</h2>
        <ul>
          <li>Choice-Free Scheduling</li>
          <li>Customizable options</li>
          <li>Google Calendar Synchronization</li>
        </ul>
      </section>
    </main>
  </body>
</html>
