<!DOCTYPE html>
<html>
<head>
    <title>Accept a Meeting Invite</title>
    <link rel="stylesheet" href="/../static/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <header>
        <h1>ScheduleKing</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/host">Get Started</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </header>
    <div class="ui container" style="margin-top: 50px;">
        <h2 class="ui center aligned header">Enter Your Information</h2>
        <form class="ui form" method="post">
            <div class="field">
                <label for="meeting_code">Meeting Code:</label>
                <input type="text" id="meeting_code" name="meeting_code" pattern="[A-Za-z0-9]{6}" required>
            </div>

            <div class="field">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="field">
                <label for="timezone">Time Zone:</label>
                <select name="timezone" class="ui fluid dropdown">
                    <!-- US Time Zones -->
                    <option value="America/New_York">(UTC-05:00) Eastern Time (US & Canada)</option>
                    <option value="America/Chicago">(UTC-06:00) Central Time (US & Canada)</option>
                    <option value="America/Denver">(UTC-07:00) Mountain Time (US & Canada)</option>
                    <option value="America/Los_Angeles">(UTC-08:00) Pacific Time (US & Canada)</option>
                    <option value="America/Anchorage">(UTC-09:00) Alaska</option>
                    <option value="Pacific/Honolulu">(UTC-10:00) Hawaii</option>

                    <!-- GMT Time Zones -->
                    <option value="Etc/GMT+0">(GMT+0:00) Greenwich Mean Time</option>
                    <option value="Etc/GMT+1">(GMT+1:00) Amsterdam, Berlin, Rome, Stockholm</option>
                    <option value="Etc/GMT+2">(GMT+2:00) Athens, Helsinki, Jerusalem</option>
                    <option value="Etc/GMT+3">(GMT+3:00) Moscow, Kuwait, Riyadh</option>
                    <option value="Etc/GMT+4">(GMT+4:00) Abu Dhabi, Muscat, Baku</option>
                    <option value="Etc/GMT+5">(GMT+5:00) Islamabad, Karachi, Tashkent</option>
                    <option value="Etc/GMT+6">(GMT+6:00) Almaty, Dhaka, Colombo</option>
                    <option value="Etc/GMT+7">(GMT+7:00) Bangkok, Hanoi, Jakarta</option>
                    <option value="Etc/GMT+8">(GMT+8:00) Beijing, Singapore, Hong Kong</option>
                    <option value="Etc/GMT+9">(GMT+9:00) Tokyo, Seoul, Osaka</option>
                    <option value="Etc/GMT+10">(GMT+10:00) Eastern Australia, Guam</option>
                    <option value="Etc/GMT+11">(GMT+11:00) Magadan, Solomon Islands</option>
                    <option value="Etc/GMT+12">(GMT+12:00) Auckland, Wellington, Fiji</option>
                </select>
            </div>

            <div class="field">
                <label for="working_hours">Working Hours:</label>
                <input type="time" name="work_hours_start" style="width: 150px;"> to 
                <input type="time" name="work_hours_end" style="width: 150px;"><br><br>
            </div>

            <button class="ui blue button" type="submit">Submit Information</button>
        </form>
    </div>
</body>
</html>
