<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <h1>ScheduleKing</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/authorize/host">Get Started</a></li>
          </ul>
        </nav>
      </header>
    <main>
        <section class="hero">
            <div class="loading-container">
                <h2>Not all of your teammates have responded. Check back later.</h2>
                <p id="participantCount">0 out of {{ participant.num }} participants have filled out their calendar availability!</p>
            </div>
        </section>
    </main>
    <script type="text/javascript">
        var participantNum = 0;
        var participantTotal = 6;
        var targetCount = Math.ceil(participantTotal * 2 / 3);
        var intervalId;

        function updateParticipantCount() {
            participantNum++;
            document.getElementById('participantCount').innerText = participantNum + " out of " + participantTotal + " participants have filled out their calendar availability!";
            if (participantNum >= targetCount) {
                clearInterval(intervalId);
            }
        }

        intervalId = setInterval(updateParticipantCount, 5000); // Update every 10000 ticks
    </script>
</body>

</html>
