<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Time</title>
  </head>
  <body>
    <div id="Timeslot" style="display:none;">
        <h1>
            Your meeting has been scheduled for {{ available_slots }}
        </h1>
        <p>Does this time still work for you?</p>
        <button>Yes</button>
        <button>No</button>
    </div>
  <div id="default">
    <h1>Just a Moment! </h1>
    <p>Not enough Invitees have given their availability. Once enough people have connected their calendars to Schedule King, Schedule King will automatically find the best time for your team</p>
    <p id="participantCount">1 out of {{ participantcount }} participants have filled out their calendar availability!</p>
  </div>
  <script type="text/javascript">
    var participantNum = 1;
    var participantTotal = "{{ participantcount }}";
    var targetCount = Math.ceil(participantTotal * 2 / 3);
    var intervalId;

    function updateParticipantCount() {
        participantNum++;
        document.getElementById('participantCount').innerText = participantNum + " out of " + participantTotal + " participants have filled out their calendar availability!";
        if (participantNum >= targetCount) {
            clearInterval(intervalId);
            document.getElementById("Timeslot").style.display = "block";
            document.getElementById("default").style.display = "none";
        }
    }

    intervalId = setInterval(updateParticipantCount, 1000); // Update every 10000 ticks
</script>
  </body>
</html>
