<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Time</title>
  </head>
  <body>
  <div id="default">
    <h1>Your meeting code is {{ meeting_code }}</h1>
    <p>Please send this code to your invitees. Once enough people have connected their calendars to Schedule King, Schedule King will automatically find the best time for your team</p>
    <p id="participantCount">0 out of {{ partnum }} participants have filled out their calendar availability!</p>
  </div>
  <script type="text/javascript">
    var participantNum = 0;
    var participantTotal = 6;
    var targetCount = Math.ceil(participantTotal * 2 / 3);
    var intervalId;

    function updateParticipantCount() {
        participantNum++;
        document.getElementById('participantCount').innerText = participantNum + " out of " + participantTotal + " participants have filled out their calendar availability!";
        if (participantNum >= targetCount) {
            clearInterval(intervalId);
            document.getElementById("Timeslot").style.display = "block";
            document.getElementById("default").style.display = "none";

        }
    }

    intervalId = setInterval(updateParticipantCount, 5000); // Update every 10000 ticks
</script>
  </body>
</html>
